#!/bin/bash

# $HOME/.xwax/config
# this is the configuration file for the xwax start script

# path to music library
MLIB="/media/music"

# path to playlists (to use for playing, not logging!)
PLAYLISTS="/mnt/sdb3/xwax/playlists"

# define your crates in an array
CRATE[1]="$MLIB/library"
CRATE[2]="$MLIB/recent"
CRATE[3]="$MLIB/tmp"

# each subfolder found in CRATEX is displayed in a seperate crate (optional)
#CRATEX[1]="$MLIB/tmp"

# define import and scan scripts (optional)
#IMPORT="$HOME/.xwax/xwax-import"
#SCAN="$HOME/.xwax/xwax-scan"

# path to xwax binary
XWAX="/usr/bin/xwax"

# sample rate in Hz
SRATE=44100

# buffer time in ms
BTIME=8

# deck protection (bool, 1 = on)
PROT=0

# timecodes on respective deck (optional - default: serato_2a)
# xwax -h for a list of available timecodes
TC1[1]="serato_2a"
TC1[2]="serato_cd"
TC2[1]="serato_2a"
TC2[2]="serato_cd"

# speed in rpm on respective deck
RPM1=33
RPM2=33

# sound card device for respective deck (check output of 'aplay -l')
DECK1="plughw:Audio4DJ,0,0"
DECK2="plughw:Audio4DJ,0,1"

# path where playlists get written to (will be created if nonexistent)
LOG_PATH="$HOME/.xwax/playlists"
LOG_FILE="$LOG_PATH/$(date +%F_%H-%M-%S)_playlist.txt"

# define your twitter client - there are several cli clients out there
# f.e. bti (http://gregkh.github.com/bti/)
TW_CLI="/usr/bin/bti"

# define tweet message where %s is the filename of the loaded track (without
# leading track number and filetype extension). clientside url shortening
# recommended.
TW_MSG="#nowplaying: %s http://streaming.fueralle.org:8000/radiot.ogg.m3u #dnb #drumandbass"

# path to last_played file (required for tweeting)
TW_LPLYD="/tmp/xwax_last_played.txt"

