#!/bin/bash

# $HOME/.config/xwax/xwaxrc
# this is the configuration file for the xwax start script

# path to music library
MLIB="/media/music"

# path where playlists are stored
PLAYLISTS="$MLIB/playlists"

# path where log files get written to (will be created if nonexistent)
# this creates log files in a more readable format since path name, leading
# numbers and filetype extensions are trimmed from filename
LOG_PATH="$HOME/.xwax/logs"
LOG_FILE="$LOG_PATH/log_$(date +%F_%H-%M-%S).txt"

# path where session playlists get written to (will be created if nonexistent)
# a session playlist contains the full filename of every loaded track
# when the start script is invoked with the -s option each playlist found in
# $SS_PATH is displayed in a separate crate
SS_PATH="$HOME/.xwax/sessions"
SS_FILE="$SS_PATH/session_$(date +%F_%H-%M-%S)"

# define your crates in an array
CRATE[1]="$MLIB/library"
CRATE[2]="$MLIB/recent"
CRATE[3]="$MLIB/tmp"

# each 1st level subfolder found in CRATEX is displayed in a separate crate (optional)
#CRATEX[1]="$MLIB"

# don't add folders that don't include audio files to the list of crates
NO_EMPTY=1

# define import and scan scripts (optional)
#IMPORT="$HOME/.xwax/xwax-import"
#SCAN="$HOME/.xwax/xwax-scan"

# path to xwax binary
XWAX="/usr/bin/xwax"

# sample rate in Hz
SRATE=44100

# buffer time in ms
BTIME=8

# timecodes on respective deck (optional - default: serato_2a)
# last element of each array will be active after starting xwax
# run xwax -h for a list of available timecodes
TC1=("serato_2b" "serato_2a")
TC2=("serato_2b" "serato_2a")

# speed in rpm on respective deck
RPM[1]=33
RPM[2]=33

# sound card device for respective deck (check output of 'aplay -l')
DECK[1]="plughw:Audio4DJ,0,0"
DECK[2]="plughw:Audio4DJ,0,1"

# deck protection (bool, 1 = on)
PROT=0

# define your twitter client - there are several cli clients out there
# f.e. bti (http://gregkh.github.com/bti/)
TW_CLI="/usr/bin/bti"

# define tweet message where %s is the filename of the loaded track (without
# leading track number and filetype extension). clientside url shortening is
# recommended.
TW_MSG="#nowplaying: %s http://streaming.fueralle.org:8000/radiot.ogg.m3u #dnb #drumandbass"

# path to last_played file (required for tweeting)
TW_LPLYD="/tmp/xwax_last_played.txt"

# tweet last loaded track on exit (bool, 1 = on)
TW_ON_EXIT=1
